version: "3.8"

services:
  frontend:
    build: ./frontend
    ports:
      - "100:80"
    depends_on:
      - gateway

  gateway:
    build: ./gateway
    ports:
      - "3000:3000"
    environment:
      - USER_SERVICE_URL=${USER_SERVICE_URL}
      - ORDER_SERVICE_URL=${ORDER_SERVICE_URL}
    depends_on:
      - user-service
      - order-service

  user-service:
    build: ./user-service

  order-service:
    build: ./order-service
