version: "3.8"

services:
  frontend:
    build: ./frontend
    ports:
      - "90:80"
    depends_on:
      - gateway

  gateway:
    build: ./gateway
    ports:
      - "3000:3000"
    environment:
      - USER_SERVICE_URL=http://user-service:3001
      - ORDER_SERVICE_URL=http://order-service:3002
    depends_on:
      - user-service
      - order-service

  user-service:
    build: ./user-service

  order-service:
    build: ./order-service
